:root{
    --WHITECOLOR:white;
    --BLACKCOLOR:black;
}
*{
    margin: 0px;
}
ul li{
    display: inline;
    font-size: 20px;
    /*color: var(--WHITECOLOR);*/
    padding: 10px;
}*
#nadpis{
    text-align: right;
}
ul{
    margin: 20px;
}
nav{
    background-color: var(--BLACKCOLOR);
}
#ukazka{
    text-decoration: none;
    color: var(--WHITECOLOR);
}
#beta{
    margin-top: 765px;
}
#warning{
    color: red;
    text-decoration: underline;
}

a:hover{
    text-decoration: underline var(--WHITECOLOR);
}
a:visited{
    color: var(--WHITECOLOR);
}


footer{
    background-color: var(--BLACKCOLOR);
    height: 50px;

}
footer p{
    color: white;
    text-align: right;
    padding: 15px;
}