@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --WHITECOLOR:white;
    --BLACKCOLOR:black;
    --BLUECOLOR:lightblue;
}
*{
    margin: 0px;
}
ul li{
    display: inline;
    font-size: 20px;
    /*color: var(--WHITECOLOR);*/
    padding: 10px;
}*
#nadpis{
    text-align: right;
}
#vitani{
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}
ul{
    margin: 20px;
}
nav{
    background-color: var(--BLACKCOLOR);
    padding: 0.02px;
}
main{
    background-color: var(--BLUECOLOR);
}
#informace{
    text-align: center;
    font-family: Cabin;
    padding: 50px;
}
#tlacitkoInfo{
    background: none;
    border: none;
    font-family: Cabin;
}
#kontakt{
    padding-top: 100px;
    text-align: center;
}
#kontaktovaciInfo{
    font-family: Cabin;
}
#ukazka{
    text-decoration: none;
    color: var(--WHITECOLOR);
    font-size: 20px;
}
#beta{
    margin-top: 765px;
    font-family: Cabin;
}
#warning{
    color: red;
    text-decoration: underline;
    font-family: Cabin;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
}

a:hover{
    text-decoration: underline var(--WHITECOLOR);
}
a:visited{
    color: var(--WHITECOLOR);
}


footer{
    background-color: var(--BLACKCOLOR);
}
footer p{
    color: white;
    text-align: right;
    padding: 15px;
}