:root{
    --WHITECOLOR:white;
    --BLACKCOLOR:black;
}
*{
    margin: 0px;
}
ul li{
    display: inline;
    font-size: 20px;
    color: var(--WHITECOLOR);
    padding: 10px;
}
ul{
    text-align: right;
}
nav{
    background-color: var(--BLACKCOLOR);
}
a{
    text-decoration: none;
    color: var(--WHITECOLOR);
}

a:hover{
    text-decoration: underline var(--WHITECOLOR);
}
a:visited{
    color: var(--WHITECOLOR);
}
#uvítání{
    margin-bottom: 50px;
}
#prvniRocnik{
    margin-top: 50px;
}
#druhyRocnik{
    margin-top: 50px;
}
#tretiRocnik{
    margin-top: 50px;
}
#ctvrtyRocnik{
    margin-top: 50px;
}



footer{
    background-color: var(--BLACKCOLOR);
    height: 50px;

}
footer p{
    color: white;
    text-align: right;
    padding: 15px;
}