@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --WHITECOLOR:white;
    --BLACKCOLOR:black;
    --BLUECOLOR:lightblue;
}
*{
    margin: 0px;
}
ul li{
    display: inline;
    font-size: 20px;
    color: var(--WHITECOLOR);
    padding: 10px;
}
#uvítání{
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
}
ul{
    text-align: right;
}
main{
    background-color: var(--BLUECOLOR);
}
#div{
    padding: 50px;
}
nav{
    background-color: var(--BLACKCOLOR);
}
a{
    text-decoration: none;
    color: var(--WHITECOLOR);
}

a:hover{
    text-decoration: underline var(--WHITECOLOR);
}
a:visited{
    color: var(--WHITECOLOR);
}
#uvítání{
    margin-bottom: 50px;
    font-family: Cabin;
}
#univerzalni{
    margin-top: 50px;
    font-family: Cabin;
    text-align: center;
}
#poznamky{
    margin-top: 50px;
    font-family: Cabin;
    text-align: center;
}
#prvniRocnik{
    margin-top: 50px;
    font-family: Cabin;
    text-align: center;
}
#druhyRocnik{
    margin-top: 50px;
    font-family: Cabin;
    text-align: center;
}
#tretiRocnik{
    margin-top: 50px;
    font-family: Cabin;
    text-align: center;
}
#ctvrtyRocnik{
    margin-top: 50px;
    font-family: Cabin;
    text-align: center;
}
.ucebnice{
    font-family: Cabin;
    text-align: center;
}
/*#f4r{
    padding-bottom: 50px;
}*/



footer{
    background-color: var(--BLACKCOLOR);
    height: 50px;

}
footer p{
    color: white;
    text-align: right;
    padding: 15px;
}